# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# Django
db.sqlite3

# VS Code
.vscode/

# Docker
*.log
*.pid
*.db
*.sqlite3
*.swp
docker-compose.override.yml

# Byte-compiled
*.pyc
*.pyo
*.pyd

